<body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2> Login Form </h2>
      <form action="/login" method="POST" class="formbackgroundcolor">
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label"> E-mail: </label> 
          <input type="email" name="email" id="email" value= "" placeholder="Enter email address" /> <br/>
        </div>
        <div class="form-group">
          <label for "password" class="col-sm-4 control-label"> Password: </label> 
          <input type="password" name="password" id="password" value ="" placeholder="Enter password" /> <br/>
        </div>
        <div class="bluebutton">
          <div class="btn-group btn-group-md">
           <button type="submit" class="btn btn-primary btn-login">Login</button>
          </div>
        </div>
      </form>



  <h2> Signup Form </h2>
    <form action="/signup" method="POST" class="formbackgroundcolor">
      <div class="form-group">
        <label for="username" class="col-sm-4 control-label"> Username: </label> 
        <input type="text" name="username" id="username" value="" placeholder="Enter username" /> <br/>
        </div>
      <div class="form-group">
        <label for="email" class="col-sm-4 control-label"> E-mail: </label> 
        <input type="email" name="email" id="email" value="" placeholder="Enter email address" /> <br/>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-4 control-label"> Password: </label> 
        <input type="password" name="password" id="password" value="" placeholder="Enter password" /> <br/>
      </div>
      <div class="bluebutton">  
        <div class="btn-group btn-group-md">
         <button type="submit" class="btn btn-primary btn-signup">Signup</button>
        </div>
      </div>
    </form>

</body>