<h1> Movie: <%=@movie.title%> </h1>

<p> The movie was released in <%=@movie.release_date%> and was directed by <%=@movie.director %> </p>

<p> The movie poster: </p>

<img src = "<%= @movie.image_url %>"/>




